<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="upload" content="Upload File">
    <title>Upload File</title>
    {% load static %}
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    <link href="{% static 'css/custom.css' %}" rel="stylesheet">
</head>
<body class="bg-[radial-gradient(ellipse_at_top_left,_var(--tw-gradient-stops))] from-sky-600 via-indigo-800 to-green-500 text-gray-200">

<!-- Navbar -->
<div class="navbar bg-base-100 min-h-20">
    <div class="navbar-start">
        <button id="menu-button" class="btn btn-ghost btn-circle">
            <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-5 w-5"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor">
                <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M4 6h16M4 12h16M4 18h7"/>
            </svg>
        </button>
    </div>
    <div class="navbar-center">
        <a class="btn btn-ghost text-xl">Nick Burczyk</a>
    </div>
    <div class="navbar-end"></div>
</div>

<!-- Side Menu -->
<div id="side-menu"
     class="fixed top-0 left-0 z-50 h-full w-64 bg-base-100 p-4 shadow-lg transform -translate-x-full transition-transform">
    <div class="flex justify-between items-center mb-4">
        <span class="text-xl font-bold">Menu</span>
        <button id="close-menu" class="btn btn-ghost btn-circle">
            <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-5 w-5"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor">
                <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M6 18L18 6M6 6l12 12"/>
            </svg>
        </button>
    </div>
    <ul class="menu">
        <li><a class="link" href="/" id="link-homepage">Homepage</a></li>
        <li><a class="link" href="https://servermap.minecraft.bz" id="link-map">Server Map</a></li>
        <li><a class="link" href="/#projects" id="link-projects">Projects</a></li>
        <li><a class="link" href="#contact" id="link-contact">Contact</a></li>
        <li><a class="link" href="/blog.html">Blog</a></li>
    </ul>
</div>

<!-- Overlay -->
<div id="overlay" class="fixed inset-0 z-40 bg-black opacity-50 hidden"></div>

<script>
    const menuButton = document.getElementById('menu-button');
    const closeMenu = document.getElementById('close-menu');
    const sideMenu = document.getElementById('side-menu');
    const overlay = document.getElementById('overlay');
    const links = document.querySelectorAll('#side-menu .link');

    const toggleMenu = () => {
        sideMenu.classList.toggle('-translate-x-full');
        overlay.classList.toggle('hidden');
    };

    if (menuButton) {
        menuButton.addEventListener('click', toggleMenu);
    }
    closeMenu.addEventListener('click', toggleMenu);
    overlay.addEventListener('click', toggleMenu);

    links.forEach(link => {
        link.addEventListener('click', toggleMenu);
    });

    function displayFileName() {
    const fileInput = document.getElementById('file-upload');
    const fileNameDisplay = document.getElementById('file-name-display');
        if (fileInput.files.length > 0) {
            fileNameDisplay.textContent = fileInput.files[0].name;
        } else {
            fileNameDisplay.textContent = 'No file chosen';
        }
    }

    document.addEventListener('DOMContentLoaded', () => {
    const startRecordingButton = document.getElementById('start-recording');
    const stopRecordingButton = document.getElementById('stop-recording');
    const audioPlayback = document.getElementById('audio-playback');
    const recordedAudioInput = document.getElementById('recorded-audio');

    let mediaRecorder;
    let recordedChunks = [];

    startRecordingButton.addEventListener('click', async () => {
        const stream = await navigator.mediaDevices.getUserMedia({ audio: true });
        mediaRecorder = new MediaRecorder(stream);

        recordedChunks = [];

        mediaRecorder.ondataavailable = (event) => {
            if (event.data.size > 0) {
                recordedChunks.push(event.data);
            }
        };

        mediaRecorder.onstop = () => {
            const recordedBlob = new Blob(recordedChunks, { type: 'audio/wav' });
            const recordedUrl = URL.createObjectURL(recordedBlob);
            audioPlayback.src = recordedUrl;
            audioPlayback.classList.remove('hidden');
            recordedAudioInput.value = recordedUrl;
        };

        mediaRecorder.start();
        startRecordingButton.disabled = true;
        stopRecordingButton.disabled = false;
    });

    stopRecordingButton.addEventListener('click', () => {
        mediaRecorder.stop();
        startRecordingButton.disabled = false;
        stopRecordingButton.disabled = true;
    });
});

</script>

<!-- Main Content -->
<div class="container mx-auto p-4">
    <div class="mx-auto max-w-7xl py-8 sm:px-6 lg:px-8">
        <div class="relative isolate mx-auto max-w-7xl py-16 sm:px-6 sm:py-32 lg:px-8 overflow-hidden bg-gray-900 sm:rounded-3xl shadow-2xl flex items-center justify-center">
            <svg viewBox="0 0 1024 1024"
                 class="absolute left-1/2 top-1/2 -z-10 h-[64rem] w-[64rem] -translate-y-1/2 [mask-image:radial-gradient(closest-side,white,transparent)] sm:left-full sm:-ml-80 lg:left-1/2 lg:ml-0 lg:-translate-x-1/2 lg:translate-y-0"
                 aria-hidden="true">
                <circle cx="512" cy="512" r="512" fill="url(#759c1415-0410-454c-8f7c-9a820de03641)"
                        fill-opacity="0.7"/>
                <defs>
                    <radialGradient id="759c1415-0410-454c-8f7c-9a820de03641">
                        <stop stop-color="#0284C7"/>
                        <stop offset="1" stop-color="#16A34A"/>
                    </radialGradient>
                </defs>
            </svg>
            <div class="max-w-lg text-center">
                <div class="mx-auto max-w-md py-8">
                    <h1 class="text-3xl font-bold tracking-tight text-white sm:text-4xl">Upload a file or Record
                        Audio</h1>
                </div>
                <!-- Form HTML -->
                <form method="post" enctype="multipart/form-data" id="upload-form">
                    {% csrf_token %}
                    <div class="mx-auto max-w-md text-center py-6 px-6 mt-8 bg-base-100 rounded-lg shadow-lg">
                        <div class="flex items-center justify-center">
                            <label for="file-input" class="btn btn-primary cursor-pointer">Upload Audio</label>
                            <input type="file" name="file" id="file-input" accept="audio/*" class="hidden">
                        </div>
                        <div class="mt-2 text-white" id="file-name">No file selected</div>
                    </div>

                    <script>
                        document.getElementById('file-input').addEventListener('change', function() {
                            const fileName = this.files.length > 0 ? this.files[0].name : 'No file selected';
                            document.getElementById('file-name').textContent = fileName;
                        });
                    </script>

                    <div class="mb-8 mt-8">
                        <p>Or Record Audio</p>
                    </div>
                    <div class="mx-auto max-w-md text-center py-6 px-6 mt-8 bg-base-100 rounded-lg shadow-lg">
                        <div class="flex items-center justify-center space-x-4">
                            <button type="button" id="start-recording" class="btn btn-secondary">Start Recording</button>
                            <button type="button" id="stop-recording" class="btn btn-secondary" disabled>Stop Recording</button>
                        </div>
                        <audio id="audio-playback" controls class="mt-4 hidden mx-auto"></audio>
                        <input type="hidden" id="recorded-audio" name="recorded_audio">
                    </div>

                    <div class="flex items-center justify-center space-x-4">
                        <button type="submit" class="btn btn-primary mt-4 mr-2">Upload</button>
                        <button type="button" id="reset-form" class="btn btn-secondary mt-4">Reset</button>
                    </div>
                </form>
                    <script>
                        document.addEventListener('DOMContentLoaded', function() {
                            const fileInput = document.getElementById('file-input');
                            const startRecordingBtn = document.getElementById('start-recording');
                            const stopRecordingBtn = document.getElementById('stop-recording');
                            const recordedAudioInput = document.getElementById('recorded-audio');
                            const audioPlayback = document.getElementById('audio-playback');
                            const resetFormBtn = document.getElementById('reset-form');

                            startRecordingBtn.addEventListener('click', function() {
                                fileInput.disabled = true;
                                fileInput.value = '';
                                stopRecordingBtn.disabled = false;
                            });

                            stopRecordingBtn.addEventListener('click', function() {
                                fileInput.disabled = false;
                                stopRecordingBtn.disabled = true;
                            });

                            fileInput.addEventListener('change', function() {
                                if (fileInput.files.length > 0) {
                                    startRecordingBtn.disabled = true;
                                    stopRecordingBtn.disabled = true;

                                    recordedAudioInput.value = '';
                                    audioPlayback.classList.add('hidden');
                                    audioPlayback.src = '';
                                } else {
                                    startRecordingBtn.disabled = false;
                                    stopRecordingBtn.disabled = true;
                                }
                            });

                            resetFormBtn.addEventListener('click', function() {
                                fileInput.value = '';
                                fileInput.disabled = false;
                                startRecordingBtn.disabled = false;
                                if (stopRecordingBtn.disabled == false) {
                                    stopRecordingBtn.disabled = true;
                                }

                                recordedAudioInput.value = '';
                                audioPlayback.classList.add('hidden');
                                audioPlayback.src = '';
                            });
                        });

                        document.getElementById('file-input').addEventListener('change', function(event) {
                                            const file = event.target.files[0];
                                            if (file) {
                                                const fileType = file.type;
                                                if (!fileType.startsWith('audio/')) {
                                                    alert('Please upload a valid audio file.');
                                                    event.target.value = '';
                                                }
                                            }
                                        });
                    </script>
            </div>
        </div>

        <!-- How it works -->
        <section id="projects" class="pt-10">
            <div class="relative isolate overflow-hidden bg-gray-900 px-6 pt-0 shadow-2xl rounded sm:rounded-3xl">
                <svg viewBox="0 0 1024 1024"
                     class="absolute left-1/2 top-1/2 -z-10 h-[64rem] w-[64rem] -translate-x-1/2 -translate-y-1/2 [mask-image:radial-gradient(closest-side,white,transparent)]"
                     aria-hidden="true">
                    <circle cx="512" cy="512" r="512" fill="url(#759c1415-0410-454c-8f7c-9a820de03641)"
                            fill-opacity="0.7"/>
                    <defs>
                        <radialGradient id="759c1415-0410-454c-8f7c-9a820de03641">
                            <stop stop-color="#0284C7"/>
                            <stop offset="1" stop-color="#16A34A"/>
                        </radialGradient>
                    </defs>
                </svg>
                <svg viewBox="0 0 1024 1024"
                     class="absolute left-0.5 top-0 mt-60 -z-10 h-[86rem] w-[86rem] -translate-x-1/2 -translate-y-1/2 [mask-image:radial-gradient(closest-side,white,transparent)]"
                     aria-hidden="true">
                    <circle cx="512" cy="512" r="512" fill="url(#759c1415-0410-454c-8f7c-9a820de03641)"
                            fill-opacity="0.7"/>
                    <defs>
                        <radialGradient id="759c1415-0410-454c-8f7c-9a820de03641">
                            <stop stop-color="#0284C7"/>
                            <stop offset="1" stop-color="#16A34A"/>
                        </radialGradient>
                    </defs>
                </svg>
                <div class="my-10">
                    <div class="mx-auto max-w-md text-center py-8">
                        <h1 class="text-3xl font-bold tracking-tight text-white sm:text-4xl">How it works</h1>
                    </div>
                    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
                        <div class="card bg-base-100 shadow-xl transition-transform transform hover:scale-105">
                            <figure>
                                <img src="{% static '/images/convert.png' %}" alt="Image One"/>
                            </figure>
                            <div class="card-body">
                                <h2 class="card-title">
                                    Step 1
                                </h2>
                                <p>In the first step, the file is checked to see what type it is. If it is an audio file
                                    then it will be converted to the .wav format.</p>
                            </div>
                        </div>

                        <div class="card bg-base-100 shadow-xl transition-transform transform hover:scale-105 mt-8">
                            <figure>
                                <img src="{% static '/images/visual.png' %}"
                                     alt="Image Two"/>
                            </figure>
                            <div class="card-body">
                                <h2 class="card-title">Step 2
                                </h2>
                                <p>Next, the file is loaded in and resampled to 22050 Hz and various metadata will be
                                    extracted such as audio length, pitch, and average frequency.</p>
                            </div>
                        </div>

                        <div class="card bg-base-100 shadow-xl transition-transform transform hover:scale-105 mt-8">
                            <figure>
                                <img src="{% static 'images/visual_reduced.png' %}" alt="image 3"/>
                            </figure>
                            <div class="card-body">
                                <h2 class="card-title">Step 3
                                </h2>
                                <p>Noise reduction is then applied to the audio file to amplify important
                                    frequencies.</p>
                            </div>
                        </div>

                        <div class="card bg-base-100 shadow-xl transition-transform transform hover:scale-105 mt-8">
                            <figure>
                                <img src="{% static 'images/split.png' %}"
                                     alt="Image 4"/>
                            </figure>
                            <div class="card-body">
                                <h2 class="card-title">Step 4</h2>
                                <p>Next, a mel spectrogram is created for every 5 seconds of the audio. What we have
                                    left is an array of spectrogram images corresponding to every 5 seconds of the audio
                                    file.</p>
                            </div>
                        </div>

                        <div class="card bg-base-100 shadow-xl transition-transform transform hover:scale-105 mt-8">
                            <figure>
                                <img src="{% static 'images/predict.png' %}"
                                     alt="Image 5"/>
                            </figure>
                            <div class="card-body">
                                <h2 class="card-title">Step 5
                                </h2>
                                <p>The spectrogram images are fed into the model where it makes a prediction based on
                                    the individual image. Next it makes a weighted prediction for the audio file based
                                    on the predictions and confidence of each individual spectrogram.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
</div>
<footer class="mt-8 text-center text-sm text-gray-400">
    <hr class="border-t-2 border-gray-400 mb-4">
    <p>Nicholas Burczyk. All rights reserved.</p>
    <p>Designed with <a href="https://tailwindcss.com/" class="underline" target="_blank">Tailwind CSS</a> and <a
            href="https://daisyui.com/" class="underline" target="_blank">DaisyUI</a>.</p>
</footer>
</body>
</html>
